* {
    font-family: 'Marianne', 'sans';
    font-weight: 300;
}

html {
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
}

main {
    flex: 1 1 auto;
    display: flex;

}

section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 1rem;
}

button {
    border: none;
    background: #002147;
    padding: 0.5rem 1rem;
    border: 2px solid #002147;
    border-radius: 1.5rem;
    color: white;
    transition: 0.25s;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

h1 {
    font-weight: 400;
}

button:hover {
    background-color: rgba(0, 33, 71, 0.8)
}

button.warn {
    background: darkred;
}

button.warn:hover {
    background: rgba(139, 0, 0, 0.8);
}

button.selected {
    background-color: white;
    border: 2px solid #002147;
    color: #002147;
}

button.selected:hover {
    background-color: whitesmoke;
}

button.icon-btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: none;
    border: 2px solid black;
}

#cy {
    flex: 1 1 auto;
    display: initial;
}
